<main class="container my-4 grid-products">
  <h4 class="posts-title vertical">Posts</h4>
  <section class="gridone m-0 p-0">
    {{#each products}}
      <section class="item" data-date="{{date}}">
        {{!-- <a href="#"> --}}
           <img class="img-fluid" id="myImage" src="{{imageUrl}}" alt="{{name}}">
          <section class="product-style">
            <h2>{{name}}</h2>
            <p>{{description}}</p>
            <p>Price: ${{price}}</p>
          </section>
        {{!-- </a> --}}
      </section>
    {{/each}}
      </section>
</main>
